<mat-chip-list #elementList>
    <mat-chip
        *ngFor="let elementChk of selectedElements"
        [style.background-color]="elementChk.valid ? 'green' : 'red'"
        [selectable]="false"
        [removable]="!readonly"
        (removed)="updateElement(elementChk, false)">
        {{ elementChk.element.name }} ({{ (elementChk.points > 0 ? '+' : '') + elementChk.points }})
        <mat-icon *ngIf="!readonly" matChipRemove matTooltip="Quitar">cancel</mat-icon>
    </mat-chip>
</mat-chip-list>
<div *ngIf="!readonly">
  <mat-form-field>
      <input matInput
          placeholder="Selecciona un elemento"
          #elementInput
          [matAutocomplete]="auto" />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let elementChk of filteredElements" [value]="elementChk">
          {{elementChk.element.name}}
        </mat-option>
      </mat-autocomplete>
  </mat-form-field>
</div>