<mat-chip-list #elementList>
    <mat-chip
        *ngFor="let elementChk of selectedElements"
        [style.background-color]="elementChk.valid ? 'green' : 'red'"
        [selectable]="false"
        [removable]="true"
        (removed)="updateElement(elementChk, false)">
        {{ elementChk.element.name }} ({{ elementChk.valid ? '+20' : '-5' }})
        <mat-icon matChipRemove matTooltip="Quitar">cancel</mat-icon>
    </mat-chip>
</mat-chip-list>
<mat-form-field>
    <input matInput
        placeholder="Selecciona un elemento"
        #elementInput
        [matAutocomplete]="auto" />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let elementChk of filteredElements" [value]="elementChk">
        {{elementChk.element.name}}
      </mat-option>
    </mat-autocomplete>
</mat-form-field>
