.game{
    height: calc(100% - 20px);
}
.gamearea{
    height: calc(100% - 100px);
}
.gameheader{
    height: 100px;
}
.sidenav-container{
    height: 100%;
}
.sidenav{
    width: 150px;
}
.sidenav-content{
    padding-left: 20px;
}