<div class="game">
    <div class="gameheader">
        <button mat-raised-button (click)="newGame()">
            Jugar
        </button>
        <p *ngIf="word">Construye la palabra usando elementos de la tabla periódica</p>
    </div>
    <div *ngIf="word" class="gamearea">   
        <mat-sidenav-container class="sidenav-container">
            <mat-sidenav opened="true" mode="side" class="sidenav">
                <div *ngFor="let element of sortedElements">
                    <mat-checkbox #chk (click)="selectElement(element)" [disabled]="chk.checked">
                        {{ element.name }}
                    </mat-checkbox>
                </div>
            </mat-sidenav>
            <mat-sidenav-content class="sidenav-content">
                <h2>{{ word }}</h2>
                <app-word [word]="userWord"></app-word>
            </mat-sidenav-content>       
        </mat-sidenav-container>
    </div>
</div>