<div class="game">
    <button mat-raised-button (click)="newGame()">
        Jugar
    </button>

    <div *ngIf="word">
        <p>Construye la palabra usando elementos de la tabla periódica</p>
        <h2>{{ word }}</h2>
        <app-word [word]="userWord"></app-word>
        <div *ngFor="let element of sortedElements">
            <mat-checkbox #chk (click)="selectElement(element)" [disabled]="chk.checked">
                {{ element.name }}
            </mat-checkbox>
        </div>
    </div>
</div>