.game{
    padding-top: 20px;
    height: calc(100% - 20px);
}
.gamearea{
    height: calc(100% - 90px);
}
.gameheader{
    height: 90px;
}
.sidenav-container{
    height: 100%;
}
.sidenav{
    width: 150px;
}
.sidenav-content{
    padding-left: 20px;
}