<form>
    <mat-form-field class="selector">
    <mat-label>Selecciona el juego</mat-label>
    <mat-select (selectionChange)="loadStatistics()">
        <mat-option value="spell0">Crea palabras usando la tabla periódica (Fácil)</mat-option>
        <mat-option value="spell1">Crea palabras usando la tabla periódica (Normal)</mat-option>
        <mat-option value="calculation">Cálculo mental</mat-option>
    </mat-select>
    </mat-form-field>
    <div *ngFor="let stat of stats | async; let i = index">
        <b>{{ i + 1 }}.-</b> {{stat.user}} ({{ stat.points }})
    </div>
</form>
