<h3>Generar sopa de letras</h3>
<div>
	<mat-radio-group aria-label="Elige una opción" [(ngModel)]="generateWords" (change)="onGenerateChanged()">
		<mat-radio-button [value]="Generate.User">Personalizado</mat-radio-button>
		<mat-radio-button [value]="Generate.Random">Palabras aleatorias</mat-radio-button>
	</mat-radio-group>
</div>
<div *ngIf="generateWords == Generate.User">
	<div>Escribe la lista de palabras</div>
	<div>
		<span *ngFor="let word of userWords; let i = index; trackBy: customTrackBy">
			<mat-form-field>
				<input matInput placeholder="Introduce una palabra" [(ngModel)]="userWords[i]"/>
			</mat-form-field>
		</span>
	</div>
	<button mat-icon-button aria-label="Añadir" matTooltip="Añadir" (click)="newWord()">
		<mat-icon>add</mat-icon>
	</button>
	<button mat-icon-button aria-label="Quitar" matTooltip="Quitar" (click)="deleteWord()">
		<mat-icon>delete</mat-icon>
	</button>
</div>

<div>
	<button mat-raised-button (click)="btnClick()">
		Generar
	</button>
</div>

<div *ngIf="generateWords == Generate.Random">
	<ul>
		<li *ngFor="let word of words">
			{{word}}
		</li>
	</ul>
</div>

<div *ngIf="wsModel">
    <app-word-grid [wsModel]="wsModel"></app-word-grid>
</div>