<form>
    <div>Elige la información que quieres ver en cada pareja</div>
    <div class="mtop mleft h60">
        <mat-form-field class="select">
            <mat-label>Carta 1</mat-label>
            <mat-select [(value)]="card1">
                <mat-option *ngFor="let info of infoList" [value]="info.value">
                {{info.text}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <app-element-cell class="example" [element]="exampleElement" [textProperty]="card1"></app-element-cell>
    </div>
    <div class="mleft h60">
        <mat-form-field class="select">
            <mat-label>Carta 2</mat-label>
            <mat-select [(value)]="card2">
                <mat-option *ngFor="let info of infoList" [value]="info.value">
                {{info.text}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <app-element-cell class="example" [element]="exampleElement" [textProperty]="card2"></app-element-cell>
    </div>

	<div>Elige el nivel de dificultad</div>
	<mat-radio-group name="radLevel" [(ngModel)]="level">
		<div class="mtop"><mat-radio-button [value]="Difficulty.Easy">Fácil</mat-radio-button></div>
		<div class="mtop"><mat-radio-button [value]="Difficulty.Normal">Normal</mat-radio-button></div>
		<div class="mtop"><mat-radio-button [value]="Difficulty.Hard">Difícil</mat-radio-button></div>
	</mat-radio-group>
	
	<div class="mtop">
		<button type="button" class="button" color="primary" mat-raised-button (click)="ok()">
			Aceptar
		</button>
		<button type="button" class="button mleft" mat-raised-button (click)="cancel()">
			Cancelar
		</button>
	</div>
</form>