
<h3>Tabla periódica de los elementos</h3>
<div *ngIf="elementsObservable | async as elements">
	<div class="table" 
		[style.width]="((cellWidth+1) * tableColumns) + 'px'">
		<div class="cell" [class.emptyCell]="index == 0" [class.emptyCell2]="index == -1"
			*ngFor="let index of table"
			[ngSwitch]="index"
			[style.width]="cellWidth + 'px'" [style.height]="cellHeight + 'px'">
			<div *ngSwitchCase="900" class="specialCell"><br/>57-71<br/>Lantánidos</div>
			<div *ngSwitchCase="901" class="specialCell"><br/>89-103<br/>Actínidos</div>
			<div *ngSwitchDefault>
				<div #ref *ngIf="getElement(elements, index); let element" 
					(mouseenter)="show(element, ref)" (mouseleave)="hideTimer()">
					<app-element-cell class="element" [element]="element"
						[width]="cellWidth" [height]="cellHeight">
					</app-element-cell>
				</div>
			</div>
		</div>
	</div>

	<div class="table mtop" 
		[style.width]="((cellWidth+1) * (tableColumns - 3)) + 'px'"
		[style.margin-left]="((cellWidth+1) * 3) + 'px'">
		<div class="cell" [class.emptyCell]="index == 0" 
			*ngFor="let index of table2"
			[style.width]="cellWidth + 'px'" [style.height]="cellHeight + 'px'">
			<div #ref *ngIf="getElement(elements, index); let element" 
				(mouseenter)="show(element, ref)" (mouseleave)="hideTimer()">
				<app-element-cell class="element" [element]="element"
					[width]="cellWidth" [height]="cellHeight">
				</app-element-cell>
			</div>
		</div>
	</div>
</div>
