<div *ngIf="ecuation">
    <span *ngFor="let compound of ecuation.left; let i = index">
        <mat-form-field *ngIf="allowBalancing" class="balancerField">
            <input matInput (ngModelChange)="compound.times = $event" [ngModel]="emptyIfZero(compound.times)" />
        </mat-form-field>
        <span *ngIf="!allowBalancing && compound.times > 1">{{ compound.times }}</span>
        <app-compound [compound]="compound"></app-compound>
        <span class="operator" *ngIf="i + 1 < ecuation.left.length">+</span>
    </span>
    <span class="operator">→</span>
    <span *ngFor="let compound of ecuation.right; let i = index">
        <mat-form-field *ngIf="allowBalancing" class="balancerField">
            <input matInput (ngModelChange)="compound.times = $event" [ngModel]="emptyIfZero(compound.times)" />
        </mat-form-field>
        <span *ngIf="!allowBalancing && compound.times > 1">{{ compound.times }}</span>
        <app-compound [compound]="compound"></app-compound>
        <span class="operator" *ngIf="i + 1 < ecuation.right.length">+</span>
    </span>
</div>