.clear{
    clear: both;
}
.card, .solved, .selected{
    float: left;
    background-color: blue;
    border: 1px solid lightgray;
    margin-right: 5px;
    margin-bottom: 5px;
    width:80px;
    height: 130px;
    line-height: 130px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}
.solved{
    background-color: #EEEEEE;
}
.selected{
    background-color: #EEEEEE;
    border-color: orange;
}