.title{
    font-weight: bold;
}
.image{
	cursor:pointer;
	border: 2px solid lightgray;
}
a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
}