<div *ngIf="stats | async">
    <table mat-table [dataSource]="stats">
        <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let i = index;"> {{ i + 1 }} </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let stat"> {{stat.user}} </td>
        </ng-container>
        <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef> Puntos </th>
            <td mat-cell *matCellDef="let stat"> {{stat.points}} </td>
        </ng-container>
        <ng-container matColumnDef="time">
            <th mat-header-cell *matHeaderCellDef> Tiempo </th>
            <td mat-cell *matCellDef="let stat"> {{stat.info.seconds | formatTime}} </td>
        </ng-container>
        <ng-container matColumnDef="clues">
            <th mat-header-cell *matHeaderCellDef> Pistas usadas </th>
            <td mat-cell *matCellDef="let stat"> {{ countClues(stat.info.words)}} </td>
        </ng-container>
        <ng-container matColumnDef="level">
            <th mat-header-cell *matHeaderCellDef> Nivel </th>
            <td mat-cell *matCellDef="let stat"> {{stat.info.level}} </td>
        </ng-container>
        <ng-container matColumnDef="success">
            <th mat-header-cell *matHeaderCellDef> Aciertos </th>
            <td mat-cell *matCellDef="let stat"> {{stat.info.numSuccess}} </td>
        </ng-container>
        <ng-container matColumnDef="fails">
            <th mat-header-cell *matHeaderCellDef> Fallos </th>
            <td mat-cell *matCellDef="let stat"> {{stat.info.numFails}} </td>
        </ng-container>
        <ng-container matColumnDef="moves">
            <th mat-header-cell *matHeaderCellDef> Movimientos </th>
            <td mat-cell *matCellDef="let stat"> {{stat.info.moves}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
    </table>
</div>
