<div *ngIf="ecuation">
    <div *ngIf="graphical; else notGraphical">

    </div>
    <ng-template #notGraphical>
        <app-ecuation [ecuation]="ecuation" [allowBalancing]="!isBalanced()"></app-ecuation>
    </ng-template>

    <div *ngIf="isBalanced(); else notBalanced">
        <h3 class="success">¡Bien hecho!</h3>
        <button class="button" mat-raised-button (click)="nextClick()">
            Siguiente ecuación
        </button>
    </div>
    <ng-template #notBalanced>
        <h3 class="fail">No ajustada</h3>
    </ng-template>
</div>