<div *ngIf="ecuation" class="container">
    <div class="success" *ngIf="balanced; else notBalanced">
        <h2 *ngIf="!hintUsed">¡Bien hecho!</h2>
        <h2 class="fail" *ngIf="hintUsed">Sigue intentándolo</h2>
        <button class="button" mat-raised-button (click)="nextClick()">
            Siguiente ecuación
        </button>
    </div> 
    <ng-template #notBalanced>
        <p>
            <button mat-raised-button (click)="solve()">
                Me rindo
            </button>
        </p>
        <h3 class="fail">Estado: No ajustada</h3>     
    </ng-template>
    <div *ngIf="graphical; else notGraphical">
        <div class="ecuation"><app-ecuation [ecuation]="ecuation"></app-ecuation></div>
        <div class="balance" [class.unbalancedLeft]="unbalancedLeft" [class.unbalancedRight]="unbalancedRight">
            <div cdkDropList #leftBasket="cdkDropList" class="dropAreaLeft" [class.dragging]="leftDragging"
                (cdkDropListDropped)="drop($event, true)">
                <div class="basket-left">
                    <div class="basket-column" *ngFor="let compound of ecuation.left; let j = index">
                        <span class="compound" *ngFor="let item of counterArray(compound.times); let i = index"
                            [style.margin-right]="j == ecuation.left.length - 1 ? 0 : '3px'">
                            <app-compound [compound]="compound"></app-compound>
                        </span>
                        <button *ngIf="!balanced && compound.times > 1" mat-icon-button color="primary" aria-label="Quitar"
                            matTooltip="Quitar" (click)="removeCompound(compound)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div cdkDropList #rightBasket="cdkDropList" class="dropAreaRight" [class.dragging]="rightDragging"
                (cdkDropListDropped)="drop($event, false)">
                <div class="basket-right">
                    <div class="basket-column" *ngFor="let compound of ecuation.right; let j = index">
                        <span class="compound" *ngFor="let item of counterArray(compound.times); let i = index"
                            [style.margin-right]="j == ecuation.right.length - 1 ? 0 : '3px'">
                            <app-compound [compound]="compound" ></app-compound>
                        </span>
                        <button *ngIf="!balanced && compound.times > 1" mat-icon-button color="primary" aria-label="Quitar"
                            matTooltip="Quitar" (click)="removeCompound(compound)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="base"></div>

        <div class="compounds" *ngIf="!balanced">
            <p>Arrastra los compuestos a la balanza:</p>
            <div cdkDropList [cdkDropListConnectedTo]="[leftBasket]" class="compounds-left">
                <span class="compound draggable" *ngFor="let compound of ecuation.left" cdkDrag 
                    [cdkDragData]="compound"
                    (cdkDragStarted)="startLeftDrag(true)" (cdkDragEnded)="startLeftDrag(false)">
                    <app-compound [compound]="compound"></app-compound>
                </span>
            </div>
            <div cdkDropList [cdkDropListConnectedTo]="[rightBasket]" class="compounds-right">
                <span class="compound draggable" *ngFor="let compound of ecuation.right" cdkDrag
                    [cdkDragData]="compound"
                    (cdkDragStarted)="startRightDrag(true)" (cdkDragEnded)="startRightDrag(false)">
                    <app-compound [compound]="compound"></app-compound>
                </span>
            </div>
        </div>
    </div>
    <ng-template #notGraphical>
        <app-ecuation [ecuation]="ecuation" [allowBalancing]="!balanced" (changed)="checkBalanced()"></app-ecuation>
    </ng-template>
</div>