<mat-chip-list #elementList>
    <mat-chip
        *ngFor="let elementChk of selectedElements"
        [style.background-color]="elementChk.valid ? (elementChk.isClue ? 'yellow' : 'green') : 'red'"
        [selectable]="false"
        [removable]="!readonly && !elementChk.isClue"
        (removed)="updateElement(elementChk, false)">
        {{ elementChk.element.name }} ({{ (elementChk.points > 0 ? '+' : '') + elementChk.points }})
        <mat-icon *ngIf="!readonly && !elementChk.isClue" matChipRemove matTooltip="Quitar">cancel</mat-icon>
    </mat-chip>
</mat-chip-list>
<div *ngIf="!readonly" class="mtop">
  <div>Selecciona los elementos que permitan completar la palabra</div>
  <div *ngIf="showAsButtons; else asTextField"> 
    <button mat-stroked-button *ngFor="let elementChk of filteredElements" 
      class="elementBtn" (click)="selected(elementChk)">
      {{elementChk.element.name}}
    </button>
  </div>
  <ng-template #asTextField>
    <mat-form-field>
        <input matInput
            placeholder="Buscar elemento"
            #elementInput
            [matAutocomplete]="auto" />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="selected($event.option.value)">
          <mat-option *ngFor="let elementChk of filteredElements" [value]="elementChk">
            {{elementChk.element.name}}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
  </ng-template>
</div>