<h2 class="sectionTitle mtop">QUÍMICA</h2>

<div class="items">
	<div class="item">
		<app-index-item caption="Crea palabras con la tabla periódica"
			description="Aprende los elementos de la tabla periódica con este divertido juego, en el que sumarás puntos por cada elemento que aciertes"
			route="/spell"
			image="assets/image/spell.png">
		</app-index-item>
	</div>

	<div class="item">
		<app-index-item caption="Encuentra la pareja"
			description="Aprende los elementos de la tabla periódica con el clásico juego de buscar parejas, en el que deberás encontrar el elemento y su símbolo"
			route="/pairs"
			image="assets/image/pairs.png">
		</app-index-item>
	</div>

	<div class="item">
		<app-index-item caption="Ajusta la ecuación"
			description="Aprende a ajustar ecuaciones químicas con este divertido juego"
			route="/balancing"
			image="assets/image/balancing.png">
		</app-index-item>
	</div>

	<div class="item">
		<app-index-item caption="Deletreador"
			description="¿Tu nombre se puede escribir usando elementos de la tabla periódica?"
			route="/spell-solver"
			image="assets/image/spell-solver.png">
		</app-index-item>
	</div>

	<div class="item">
		<app-index-item caption="Tabla periódica"
			description="Tabla periódica de los elementos interactiva"
			route="/table"
			image="assets/image/periodic-table.png">
		</app-index-item>
	</div>
</div>

<h2 class="sectionTitle mtop">MATEMÁTICAS</h2>

<div class="items">
	<div class="item">
		<app-index-item caption="Cálculo mental"
			description="Pon a prueba tu agilidad mental con este divertido juego en el que realizarás operaciones aritméticas contrarreloj"
			route="/calculation"
			image="assets/image/calculation.png">
		</app-index-item>
	</div>
</div>

<h2 class="sectionTitle mtop">OTROS</h2>

<div class="items">
	<div class="item">
		<app-index-item caption="Sopa de letras"
			description="Crear sopas de letras"
			route="/word-search"
			image="assets/image/word-search.png">
		</app-index-item>
	</div>
</div>