<h3>Elige lo que quieres aprender hoy o <a [routerLink]="['/stats']">consulta las clasificaciones</a></h3>

<h2 class="sectionTitle mtop">QUÍMICA</h2>

<div>
    <p class="title">Crea palabras usando la tabla periódica</p>
    <p>Aprende los elementos de la tabla periódica con este divertido juego, en el que sumarás puntos por cada elemento que aciertes</p>
    <button mat-raised-button [routerLink]="['/spell']">
        Jugar ahora
    </button>
</div>

<div class="section mtop">
    <p class="title">Deletreador</p>
    <p>¿Tu nombre se puede escribir usando elementos de la tabla periódica?</p>
    <button mat-raised-button [routerLink]="['/solve']">
        Descúbrelo aquí
    </button>
</div>

<h2 class="sectionTitle mtop">MATEMÁTICAS</h2>

<div>
    <p class="title">Cálculo mental</p>
    <p>Pon a prueba tu agilidad mental con este divertido juego en el que realizarás operaciones aritméticas contrarreloj</p>
    <button mat-raised-button [routerLink]="['/calculation']">
        Jugar ahora
    </button>
</div>