<div>Escribe la lista de palabras</div>
<div>
	<div *ngFor="let word of wordList.words; let i = index; trackBy: customTrackBy">
		<mat-form-field>
			<input matInput placeholder="Introduce una palabra" [(ngModel)]="wordList.words[i]"/>
		</mat-form-field>
	</div>
</div>
<button mat-icon-button aria-label="Añadir palabra" matTooltip="Añadir palabra" (click)="newWord()">
	<mat-icon>add</mat-icon>
</button>
<button mat-icon-button aria-label="Quitar última palabra" matTooltip="Quitar última palabra" (click)="deleteWord()">
	<mat-icon>delete</mat-icon>
</button>
<button mat-icon-button *ngIf="showSettings"
	aria-label="Opciones" matTooltip="Opciones" (click)="ShowSettingsClick()">
	<mat-icon>settings</mat-icon>
</button>