<div class="container">

    <mat-toolbar color="primary">
        <span *ngIf="mobileQuery.matches">
            <button mat-icon-button (click)="toggleSidenav()"><mat-icon>menu</mat-icon></button>
        </span>
        <span>Elementos y palabras</span>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #snav class="menu" 
                    [opened]="!mobileQuery.matches || showsidenav"
                    (closed)="resetSidenav()"
                    [mode]="mobileQuery.matches ? 'over' : 'side'" 
                    [fixedInViewport]="mobileQuery.matches" fixedTopGap="64">
            <div><button mat-button class="button" [routerLink]="['/']">Jugar</button></div>
            <div><button mat-button class="button" [routerLink]="['/solve']">Resolver</button></div>
        </mat-sidenav>
        <mat-sidenav-content class="content">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>