<div *ngIf="userWord; else loading" class="gamearea">
    <div class="mbottom">
        <h2>{{ word }}</h2>
        <app-word [word]="userWord"></app-word>
    </div>
    <app-elementselector [readonly]="wordCompleted" (valueChanged)="elementSelected($event)"></app-elementselector>
    <div *ngIf="wordCompleted">
        <div *ngIf="wordPoints > 0" class="result success" >¡Bien hecho!</div>
        <div *ngIf="wordPoints <= 0" class="result failed" >Sigue intentándolo</div>
    </div>
</div>
<ng-template #loading>
    <mat-spinner *ngIf="started"></mat-spinner>
</ng-template>